* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Sans-serif ;
  }

  #container {
    margin: 1rem;
    background-color: rgba(255, 228, 196, 0.712);
    width:98vw;
    height:95vh;
    position:absolute;
  }

  h2 {
    padding-top: 1.5rem;
    text-align: center;
    color:rgb(1, 1, 75);
  }

  form {
    text-align: center;
  }

  #name {
    margin-top: 2rem;
  }
  
  button {    
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(19, 12, 12, 0.562);
    color:black;
    border-radius: 10px;
    width: 5rem;
    height: 2rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(231, 179, 111, 0.644);
  }

  #bounceField {
    height: 65%;
    width: 45%;
    border: 1px solid black;
    margin: 1rem;
    margin-left: 27%;
    margin-right: 30%;
    background-color: rgba(255, 248, 220, 0.863);
    position:absolute;
    overflow: hidden;
  }

  input {
    text-align: center;
    padding: 0.3rem 0.8rem;
  }

  p {
    width: fit-content;
  }